.content {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
  gap: 1rem;

  .page-header {
    justify-content: space-between;
    padding: 2rem 0 1rem 0;
    display: flex;

    .title {
      font-weight: 600;
      font-size: 2rem;
      line-height: 1;
    }

    .mode {
      display: flex;
      gap: 0.5rem;

      img {
        height: 2rem;
      }
    }
  }

  .search-section {
    padding-top: 1rem;
  }

  .back-btn {
    background-color: var(--primary-color);
    color: var(--white);
  }
}
