<div class="table-container mat-elevation-z8">
  <div class="table-section">
    <table mat-table [dataSource]="tableData">
      <!-- id Column -->
      <ng-container matColumnDef="id" [sticky]="true">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Avatar Image Column -->
      <ng-container matColumnDef="avatar" [sticky]="true">
        <th mat-header-cell *matHeaderCellDef>Avatar Image</th>
        <td mat-cell *matCellDef="let row">
          <img [src]="row.avatar" alt="image" />
        </td>
      </ng-container>

      <!-- First Name Column -->
      <ng-container matColumnDef="first_name" [sticky]="true">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let row">{{ row.first_name }}</td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="last_name" [sticky]="true">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let row">{{ row.last_name }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="onTableRowClick(row)"
        class="table-row"
      ></tr>
    </table>
  </div>

  <mat-paginator [length]="total" [pageSize]="totalPerPage"></mat-paginator>
</div>
